<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Fintech</title> 
</head>
<body>
    <div class="register-parent">
        <div class="register">
            <div class="register-title">
                <img src="../imagens/favicon.png" alt="Logo Fintech">
                <h2>Fintech</h2>
            </div>
            <form>
                <div class="mb-3">
                  <label for="name" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="name" placeholder="Nome completo">
                </div>
                <div class="mb-3">
                  <label for="age" class="form-label">Idade</label>
                  <input type="text" class="form-control" id="age" placeholder="Idade">
                </div>
                <div class="mb-3">
                    <label for="gere" class="form-label">Gênero</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                        <option value="3">Outra</option>
                      </select>                  
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="email">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
                  </div>
                
                <button type="submit" class="btn">Cadastrar</button>
              </form>
        </div>
    </div>    

    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>
</html>